{% extends './base.html' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title "><i class="material-icons">cloud_queue</i>&nbsp;<strong>네트워크 관리</strong></h4>
                        <p class="card-category">this is the page of managing network</p>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive block_list" style="height: 100%;">
                            <div class="node_row node_row_1">node 1
                                <ul id="node_each" style="list-style:none;">
                                    <li>
                                        <button style="background-color: white; border:0px;">
                                            <i class="fas fa-cube fa-5x" style="margin-bottom: 5px;"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="node_row node_row_2">node 2
                                <ul style="list-style:none;">
                                    <li>
                                        <button style="background-color: white; border:0px;">
                                            <i class="fas fa-cube fa-5x" style="margin-bottom: 5px;"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="node_row node_row_3">node 3
                                <ul style="list-style:none;">
                                    <li>
                                        <button style="background-color: white; border:0px;">
                                            <i class="fas fa-cube fa-5x" style="margin-bottom: 5px;"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}