{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
{% endblock head %}

{% block css %}
{% endblock css %}
{% block body %}

    <!-- Title -->
    <div id="contents" class="page-header">
        <div class="container">
            <div class="row page-title">
                <a>소개</a>
            </div>
        </div>
    </div>
    
    <!-- Filter button -->
    <div id="contents">
        <div class="container">
            
            <div class="row justify-content-center page">
                <div class="col-md card">
                    <div class="card-body">
                        <!-- Subtitle -->
                        <h5 class="card-subtitle"><a style="color:#00c746;">|</a> 이용안내</h5>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center page">
                <div class="col-md card">
                    <div class="card-body">
                        <!-- Guide -->

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}

{% block js %}
{% endblock js %}