{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
{% endblock head %}

{% block css %}
    #contents {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .form-group > label {
        font-weight: 550;
    }
    h4.card-title {
        color: #76c763;
        font-weight: 550;
    }
    a.float-right, a.float-left {
        font-size: 0.8rem;
        color: #000;
    }
    .w-768 {
        min-width: 700px;
    }
    .alert-danger {
        color: red;
        font-size: 15px;
        background-color: #fef2f4;
    }
    .font-black {
        color: #000;
    }
    .info {
        font-size: 13px;
        color: #007bff;
    }

    /* Profile container */
    .profile {
        margin: 20px 0;
    }

    /* Profile sidebar */
    .profile-sidebar {
        padding: 7% 0 7% 0;
        background: #fff;
    }

    .profile-userpic img {
        float: none;
        margin: 0 auto;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }
    .profile-usertitle {
        text-align: center;
    }
    .profile-usertitle-name {
        color: #5a7391;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    .profile-usertitle-job {
        text-transform: uppercase;
        color: #5b9bd1;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .profile-userbuttons {
        text-align: center;
        margin-top: 10px;
    }
    .profile-userbuttons .btn {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        padding: 6px 15px;
        margin-right: 5px;
    }
    .profile-userbuttons .btn:last-child {
        margin-right: 0px;
    }
    ul.nav {
        margin: 0 20px 0 20px;
    }
    .profile-usermenu {
        display: block;
        margin-top: 30px;
    }
    .profile-usermenu ul li {
        color: #5b9bd1;
        font-size: 15px;
        font-weight: 600;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;
    }
    
    /* Profile Content */
    .profile-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }

    @media(max-width: 768px) {
        form {
            widht: 100%;

        }
        .w-768 {
            min-width: 0px;
        }
    }
{% endblock css %}

{% block body %}

    <div id="contents" class="container">
        <div class="row justify-content-center h-100">
            <div class="row w-768 card-wrapper">
                <div class="col-md d-none d-md-block">
                    <img src="{% static 'img/rccoin.png' %}" class="shadow" style="border-radius: 5px;">
                </div>
                <div class="col-md card fat shadow">
                    <div class="card-body">
                        <h4 class="card-title">| 계정정보</h4>
                        <hr style="margin-bottom: 30px;">
                        
                        <!-- MyInfo -->
                        <div class="profile-sidebar">
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    {{ user.username }}
                                </div>
                                <div class="profile-usertitle-job">
                                    {{ utype }}
                                </div>
                            </div>
                            
                            <hr>

                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li>
                                        <img src="{% static "img/email.png"%}" style="height: 20px;">
                                        <info style="margin-left: 10px;">{{ user.email }}</info>
                                    </li>
                                </ul>
                                <ul class="nav">
                                    <li>
                                        <img src="{% static "img/sex.png"%}" style="height: 20px;">
                                        <info style="margin-left: 10px;">{{ gender }}</info>
                                    </li>
                                </ul>
                                <ul class="nav">
                                    <li>
                                        <img src="{% static "img/cake.png"%}" style="height: 20px;">
                                        <info style="margin-left: 10px;">{{ user.profile.birth_year }}년&nbsp;{{ user.profile.birth_month }}월&nbsp;{{ user.profile.birth_date }}일&nbsp;</info>
                                    </li>
                                </ul>                                
                            </div>
                            
                            <hr>

                            <div class="profile-userbuttons">
                                <button type="button" class="btn btn-success btn-sm">정보수정</button>
                                <button type="button" class="btn btn-danger btn-sm">비밀번호 변경</button>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block js %}
{% endblock js %}